#frameSection,
#playerSection
{
  .makeColumn(2);
}

#matchSection
{
  .makeColumn(3);
}
#frame {
  .makeColumn(6);
}

#errors {
  .alert;
  .alert-error;
  color: #FFFFFF;
  display: none;
}

.playerInTurn {
  border-style:solid;
  border-width:1px;
}

#matchForm, #playerForm, #frameForm {
  display: none;
}

#currentFrame {
  table {
    .table;
    .table-striped;
  }
}

#frames li:first-child {
  font-weight: bold;
}

hr {
  margin: 5px 0px;
}
