{% load templatetag_handlebars %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SnookerStats</title>

  <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css"/>
  
  <script src="{{ STATIC_URL }}js/plugins/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-tastypie.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jquery.lightbox_me.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/handlebars.js"></script>
  <script>
    var ROOT = '';
  </script>
  <script src="{{ STATIC_URL }}js/models.js"></script>
  <script src="{{ STATIC_URL }}js/views.js"></script>
  <script src="{{ STATIC_URL }}js/client.js"></script>
</head>
<body>
  {% include "js_templates/frame.html" %}
  {% include "js_templates/frame_list.html" %}
  {% include "js_templates/player_selection.html" %}
  {% include "js_templates/player_list.html" %}
  <div id="currentFrame">
  </div>
</body>
</html>