{% load templatetag_handlebars %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SnookerStats</title>

  <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css"/>
  
  <script src="{{ STATIC_URL }}js/plugins/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-tastypie.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jquery.lightbox_me.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/handlebars.js"></script>
  <script src="{{ STATIC_URL }}js/snooker.js"></script>
</head>
<body>
  {% tplhandlebars "frame-tmpl" %}
    <table>
      <tr>
        <th id="player1">{{frame.player1.name}}</th>
        <th id="player2">{{frame.player2.name}}</th>
      </tr>
      <tr>
        <td>{{frame.player1_score}}</td>
        <td>{{frame.player2_score}}</td>
      </tr>
    </table>
  {% endtplhandlebars %}
  <div id="frame">
  </div>
</body>
</html>