{% load templatetag_handlebars %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SnookerStats</title>

  <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css"/>
  
  <script src="{{ STATIC_URL }}js/plugins/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-relational.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/backbone-tastypie.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jquery.lightbox_me.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/handlebars.js"></script>

  <script src="{{ STATIC_URL }}js/models.js"></script>
  <script src="{{ STATIC_URL }}js/views.js"></script>
  <script src="{{ STATIC_URL }}js/snooker.js"></script>
</head>
<body>
  {% include "js_templates/frame.html" %}
  {% include "js_templates/frame_list.html" %}
  {% include "js_templates/player_selection.html" %}
  {% include "js_templates/player_list.html" %}
  <div id="currentFrame">
  </div>
  <div id="strike-buttons">
    <input type="submit" id="changePlayer" value="Change player"/>
    Foul: <input type="checkbox" id="foul" />
    <input type="submit" id="undoStrike" value="Undo last strike"/>
    <br />
    <input type="submit" value="1" id="red" class="ballButton"/>
    <input type="submit" value="2" id="yellow" class="ballButton"/>
    <input type="submit" value="3" id="green" class="ballButton"/>
    <input type="submit" value="4" id="brown" class="ballButton"/>
    <input type="submit" value="5" id="blue" class="ballButton"/>
    <input type="submit" value="6" id="pink" class="ballButton"/>
    <input type="submit" value="7" id="black" class="ballButton"/>
    <br />
    <input type="submit" value="0" id="miss" class="ballButton"/>
  </div>
  <input type="submit" id="newFrame" value="New Frame"/>
  <div id="frames">
  </div>
  <input type="submit" id="newPlayer" value="New Player" />
  <div id="players">
  </div>
  <div id="playerForm">
    <form>
    <h1>New Player</h1>
    <input type="text" name="name" />
    <input type="submit" />
    <div class="status">
    </div>
    </form>
  </div>
  <div id="frameForm">
    <form>
      <h1>New Frame</h1>
      <select name="player1">
      </select>
      <select name="player2">
      </select>
      <input type="submit"/>
      <div class="status">
      </div>
    </form>
  </div>
</body>
</html>